<header>
    <div class="iconos">
        <!--Parte Izquierda-->
        <div class="sectionleft">
            <span class="material-icons-outlined">
                home
                </span><span>Alógate</span>
               
        </div>
        <!--Parte Derecha-->
        <div class="sectionright">
            <span class="material-icons-outlined">
                search
                </span>
    <span class="material-icons-outlined">
        menu
        </span>
        </div>
    </div>
<hr>
    <div class="encabezados">
        <nav id="main-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">House</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">About</a></li>
        </ul>
        </nav>
    </div>
    <div class="estancias">
        <h2>ESTANCIAS</h2>
        <p>MAS DETALLES</p>
    </div>
    </header>