.galeria {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todos los elementos horizontalmente */
    justify-content: center; /* Asegura que todo esté bien alineado */
}

.main-image {
    width: 600px;
    height: 400px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 5px;
}

.image-1{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
}

.img-1{
    width: 80px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: border 0.3s;
    object-fit: cover;
}

.formulario-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.formulario-1-left{
    flex: 1;
    text-align: left;
}
.formulario-1-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.formulario-1-left p {
    color: orange;
    font-weight: bold;
    font-size: 12px;
}

.formulario-1-right button {
    border-radius: 50%;
}
.formulario-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.formulario-2-left{
    flex: 1;
    text-align: left;
}
.formulario-2-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.formulario-2-left p{
    color: orange;
    font-weight: bold;
    font-size: 12px;
}
.formulario-2-right button{
    border-radius: 50%;
}
.form1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.form1 p{
    color: orange;
    font-size: 12px;
}

.form1 button{
    border-radius: 10px;
}
.form2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.form2 p{
    color: orange;
    font-size: 12px;
}

.form2 button{
    border-radius: 10px;
}

.formulario{
    background-color: #dedede;
    width: 500px;
    min-height: calc(400px+70px);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
}

.section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 75px;
}

.extras,.checkbox,.total{
    font-size: 12px;
    line-height: 1.5;
}
.checkbox{
    margin-top: 35px;
}
.reservar {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
.reservar button {
    background-color: gray; 
    color: black; 
    font-size: 16px; 
    padding: 10px 120px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s;
}
.total {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 10px 0; 
    border-top: 2px solid #ddd; 
}





