<section>
<div class="galeria">

  <!--Asignar Imagen principal-->
  <img [src]="mainimage" class="main-image" alt="Main image"> <!--Imagen principal-->
<!--Fin de la asginacion de la imagen principal-->
  <!--Asignar miniaturas-->
  <div class="image-1">
<img src="{{img1}}" alt="Casa-portada" class="img-1"/> <!--Miniatura1-->
<img src="{{img2}}" alt="recámara" class="img-1"/> <!--Miniatura2-->
<img src="{{img3}}" alt="sala" class="img-1"/> <!--Miniatura3-->
</div>
<!--Fin de la asignacion de miniaturas-->


  </div>

</section>
