
    <div class="contenido">
      <div class="contenido-1">
        <h2>
          ALOJAMINETO ENTERO
        </h2>
          <p>CASA DE CAMPO EN TEPOZTLÁN,MÉXICO</p>
      </div>
<div class="contenido-1">
  <h2>
    MÁS DE 16 HUÉSPEDES
  </h2>
  <div class="bed">
  <span class="material-icons-outlined">
    single_bed
    </span><p> 6 HABITACIONES</p>
  </div>
  <div class="shower">
    <span class="material-icons-outlined">
      shower
      </span> <p> 6 BAÑOS</p>
      </div>

</div>
<div class="contenido-1">
  <h2>
    ANFITRIÓN
  </h2>
    <p>DIEGO</p>
    <p>2 AÑOS DE EXPERIENCIA</p>
</div>
    </div>
  <div class="estancia">
  <h2>
        ESTANCIAS
    </h2>
  </div>
<div class="card">
<div class="card-1">
  <img [src]="imga" alt="Imagen 1">

 <h3>ADOSADO COLORIDO</h3>
 <p> DESCANSAR Y RETIRARSE EN UNA CASA CON LA MEJOR COMUNIDAD</p> 
</div>
<div class="card-1">
  <img [src]="imgb" alt="Imagen 2">
  <h3>PLAZA BONANZA</h3>
  <p>MIRA EL OCÉANO, ESCUCHA LAS OLAS Y DISFRUTA DEL MAR</p>
</div>
<div class="card-1">
  <img [src]="imgc" alt="Imagen 3">
  <h3>SANTUARIO ANTIGUO</h3>
  <p>ENCUENTRA LA CASA DE TUS SUEÑOS CERCA DEL COLEGIO Y DE TU OFICINA</p>
</div>
</div>

<div class="final">
  <h2>
    QUÉ DEBES SABER
  </h2>
  <div class="final-part">
  <div class="final-part1">
    <h3>REGLAS DE LA CASA</h3>
    <p>LLEGADA A PARTIR DE LAS 03:00 P.M.</p>
    <p>SALIDA ANTES DE LAS 1:00 P.M.</p>
    <p>NO SE ADMITEN MASCOTAS.</p>

    <a href="#" class="saber-mas">SABER MÁS ></a>
  </div>
  <div class="final-part1">
    <h3>SEGURIDAD Y PROPIEDAD</h3>
    <p>NO HAY ALARMA DE HUMO.</p>
    <p>ALBERCA/JACUZZI SIN REJA NI PUERTA CON LLAVE.</p>
    <p>NO SE REQUIERE DETECTOR DE MONÓXIDO DE CARBONO.</p>
    <a href="#" class="saber-mas">SABER MÁS ></a>
  </div>
  <div class="final-part1">
    <h3>POLÍTICA DE CANCELACIÓN</h3>
    <p>SI CANCELAS ANTES DE LA FECHA DE LLEGADA (5 ENE.),RECIBIRÁS UN REEMBOLSO PARCIAL.</p>
    <p>PASADO ESE PLAZO, TU REEMBOLSO DEPENDERÁ DE CUÁNDO CANCELES.</p>
    <a href="#" class="saber-mas">SABER MÁS ></a>
  </div>
</div>